.search_bar {
  width: 41vw;
  height: 48px;
  display: flex;
  border: 1px solid black;
  border-radius: 8px;
  padding: 0px;
  overflow: hidden;
}
.search_input {
  width: 88%;
  margin: 0px;
  height: 47px;
  padding-left: 13px;
  border-width: 0px 1px 0px 0px;
  border-color: #121212;
  border-style: solid;
  /* font-size: 16px;
  font-family: "lato";
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 19.2px;
  color: red; */
}
.search_input::placeholder {
  font-size: 16px;
  font-family: "lato";
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 19.2px;
  color: #121212;
}
.search_button {
  width: 11%;
  height: 48px;
  background-color: #ffffff;
  /* border-left: 1px solid black; */
  border: none;
  /* color: #121212; */
  /* border: 0px 0px 0px 1px solid #121212; */
}
.logo_img {
  height: 20px;
  width: 20px;
}
