.swiperContainer {
  width: 200px;
  height: 235px;
  /* z-index: 0; */
}
/* .swiper-button-prev {
  color: red !important;
}

.swiper-button-next {
  color: #000;
} */
.container {
  position: relative;
}
